@import "mixins/main";
@import "settings";

$dropdown-background-color:#fff;
$dropdown-internals-border-color:#eceff1;
$dropdwon-external-border-color:#e8eaeb;

/*----------- Main DropDown Positioning ---------------*/
//Includes some resetting of default styles.
#nav {

  position:relative;
  z-index:1000;

  li{
    position:static;

    &.level0{
      > div {
        display:none;
        position:absolute;
        width:100%;
        top:27px;
      }

      .shown-sub{
        display:block;
      }
    }

    &.menu-active{
      > div {
        display: block;
      }
    }
  }

  //RWD specific
  .nav-primary{
    li{
      &.level0{
        > div {
          position:relative;
          top:auto;
          @media #{$medium-up}{
            position:absolute;
          }
          ul{
            background: transparent;
            border: 0px;
            display: block;
            position: relative;
            top: auto;
            width: auto;
            padding-left:0px;
            padding-right:0px;
          }
        }
      }
    }

    a.button{
      color:#fff;
    }
  }

  div {
    position: relative;
    left: auto;
    width: auto;
    border: 0px;
    top:auto;
  }

  a{
    float:none;
  }

  @media #{$medium-up}{
    li.level0 {
      > a {
        padding: 5px 12px 6px 8px;
      }
    }
  }
}

/*----------- Main DropDown Styling ---------------*/

#nav div.megamenu {
  background-color: $dropdown-background-color;
  border:1px solid $dropdwon-external-border-color;
}

#nav .megamenu .column:not(:last-child){
  border-right:1px solid $dropdown-internals-border-color;
}

@media #{$medium-up}{
  //RWD only
  #nav .nav-primary div.megamenu {
    border-top: 2px solid #64b5f6;
  }
}

/*----------- Dropdown Types ---------------*/
#nav {
  li {
    &.level0 {
      .absolute-center{
        left:0px;
        right:0px;
        width:100% !important;
      }

      .absolute-left{
        left:0px;
        right:auto;
      }

      .absolute-right{
        right:0px;
        left:auto;
      }
    }
  }
}

/*----------- Content Columns ---------------*/
$max-content-columns: 5;
@for $i from 1 through $max-content-columns {
  .content-columns-#{$i}
  {
    -webkit-column-count: $i; /* Chrome, Safari, Opera */
    -moz-column-count: $i; /* Firefox */
    column-count: $i;
  }
}

/*----------- Featured Product ---------------*/

.megamenu-featured-products{
  padding:27px 27px 0px;
}

.featured-product{
  text-align:center;

  img{
    margin:0 auto 15px;
    padding:10px;
    border:1px solid $dropdown-internals-border-color;
    box-sizing:border-box;
    max-width:100%;
  }

  .button{
    margin-top:5px;
  }

  .secondary &{
    text-align:left;

    #nav &{ //increase specificity due to resets
      @include media_object($image-margin:15px,$max-image-width:150px,$bd-padding:30px 0px 0px);

      .button{
        float:left;
        padding:5px;
        line-height:16px;
      }

    }
  }
}

#nav{
  .featured-product{
    .secondary &{

    }
  }
}

/*----------- Featured Category ---------------*/
.featured-category,.featured-category a
{
  position:relative;
}

.featured-category{
  padding:15px;
  img{
    width:100%;
  }
  a{
    span{
      background-color: rgba(100,181,246,0.35);
      bottom: 0;
      color: #ffffff;
      font-size: 13px;
      font-weight: bold;
      left: 0;
      margin-right: 10px;
      padding: 5px 10px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

/*------------- Component Styles --------------*/

.section-title{
  font-weight:bold;
  letter-spacing:1px;
  margin-bottom:10px;
}

/*---Widget Blocks---*/
@media #{$medium-up}{
  .list-block {
    padding: 10px 25px;
    &:first-of-type {
      padding-top: 15px;
    }
    &:last-of-type {
      padding-bottom: 15px;
    }
  }
}

@media #{$large-up}{
  .list-block {
    padding: 10px 45px;
    &:first-of-type {
      padding-top: 35px;
    }
    &:last-of-type {
      padding-bottom: 35px;
    }
  }
}