/*
	TheExtensionLab MegaMenu Grid
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/
*/
.column {
  float: left;
  position: relative;
  box-sizing: border-box;
}

.xlab_grid_container {
  width: 100%;
  overflow: hidden;
}

.xlab_grid_container .xlab_column_1_24 {
  width: 4.16667%;
}

.xlab_grid_container .xlab_column_2_24 {
  width: 8.33333%;
}

.xlab_grid_container .xlab_column_3_24 {
  width: 12.5%;
}

.xlab_grid_container .xlab_column_4_24 {
  width: 16.66667%;
}

.xlab_grid_container .xlab_column_5_24 {
  width: 20.83333%;
}

.xlab_grid_container .xlab_column_6_24 {
  width: 25%;
}

.xlab_grid_container .xlab_column_7_24 {
  width: 29.16667%;
}

.xlab_grid_container .xlab_column_8_24 {
  width: 33.33333%;
}

.xlab_grid_container .xlab_column_9_24 {
  width: 37.5%;
}

.xlab_grid_container .xlab_column_10_24 {
  width: 41.66667%;
}

.xlab_grid_container .xlab_column_11_24 {
  width: 45.83333%;
}

.xlab_grid_container .xlab_column_12_24 {
  width: 50%;
}

.xlab_grid_container .xlab_column_13_24 {
  width: 54.16667%;
}

.xlab_grid_container .xlab_column_14_24 {
  width: 58.33333%;
}

.xlab_grid_container .xlab_column_15_24 {
  width: 62.5%;
}

.xlab_grid_container .xlab_column_16_24 {
  width: 66.66667%;
}

.xlab_grid_container .xlab_column_17_24 {
  width: 70.83333%;
}

.xlab_grid_container .xlab_column_18_24 {
  width: 75%;
}

.xlab_grid_container .xlab_column_19_24 {
  width: 79.16667%;
}

.xlab_grid_container .xlab_column_20_24 {
  width: 83.33333%;
}

.xlab_grid_container .xlab_column_21_24 {
  width: 87.5%;
}

.xlab_grid_container .xlab_column_22_24 {
  width: 91.66667%;
}

.xlab_grid_container .xlab_column_23_24 {
  width: 95.83333%;
}

.xlab_grid_container .xlab_column_24_24 {
  width: 100%;
}

.xlab_grid_container .xlab_column_1_5 {
  width: 20%;
}

.xlab_grid_container .xlab_column_2_5 {
  width: 40%;
}

.xlab_grid_container .xlab_column_3_5 {
  width: 60%;
}

.xlab_grid_container .xlab_column_4_5 {
  width: 80%;
}

.xlab_grid_container .xlab_column_5_5 {
  width: 100%;
}

.xlab_grid_container div[class^="xlab_grid_"] {
  width: 100%;
}
