/*----------- Main DropDown Positioning ---------------*/
#nav {
  position: relative;
  z-index: 1000;
}
#nav li {
  position: static;
}
#nav li.level0 > div {
  display: none;
  position: absolute;
  width: 100%;
}
#nav li.level0 .shown-sub {
  display: block;
}
#nav li.menu-active > div {
  display: block;
}
#nav .nav-primary li.level0 > div {
  position: relative;
}
@media only screen and (min-width: 770px) {
  #nav .nav-primary li.level0 > div {
    position: absolute;
  }
}
#nav div {
  position: relative;
  left: auto;
  width: auto;
  border: 0px;
}

/*----------- Main DropDown Styling ---------------*/
@media only screen and (min-width: 770px) {
  #nav div.megamenu {
    background-color: #fff;
    border: 1px solid #e8eaeb;
  }

  #nav .nav-primary div.megamenu {
    border-top: 2px solid #64b5f6;
  }
}
/*----------- Dropdown Types ---------------*/
#nav li.level0 .absolute-center {
  left: 0px;
  right: 0px;
  width: 100% !important;
}
#nav li.level0 .absolute-left {
  left: 0px;
  right: auto;
}
#nav li.level0 .absolute-right {
  right: 0px;
  left: auto;
}

/*----------- Content Columns ---------------*/
.content-columns-1 {
  -webkit-column-count: 1;
  /* Chrome, Safari, Opera */
  -moz-column-count: 1;
  /* Firefox */
  column-count: 1;
}

.content-columns-2 {
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
}

.content-columns-3 {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}

.content-columns-4 {
  -webkit-column-count: 4;
  /* Chrome, Safari, Opera */
  -moz-column-count: 4;
  /* Firefox */
  column-count: 4;
}

.content-columns-5 {
  -webkit-column-count: 5;
  /* Chrome, Safari, Opera */
  -moz-column-count: 5;
  /* Firefox */
  column-count: 5;
}

/*----------- Featured Product ---------------*/
.featured-product {
  padding: 27px;
  text-align: center;
}
.featured-product img {
  margin: 0 auto 15px;
  padding: 10px;
  border: 1px solid #eceff1;
  box-sizing: border-box;
  max-width: 100%;
}
.featured-product .button {
  margin-top: 5px;
}
.featured-product .button span {
  color: #fff;
}
