<?xml version="1.0"?>
<!--
 * @category    TheExtensionLab
 * @package     TheExtensionLab_MegaMenu
 * @copyright   Copyright (c) TheExtensionLab (http://www.theextensionlab.com)
 * @license
 * @author      James Anelay @ TheExtensionLab <james@theextensionlab.com>
 *
-->
<config>
    <modules>
        <TheExtensionLab_MegaMenu>
            <version>0.1.0</version>
        </TheExtensionLab_MegaMenu>
    </modules>

    <global>
        <blocks>
            <theextensionlab_megamenu>
                <class>TheExtensionLab_MegaMenu_Block</class>
            </theextensionlab_megamenu>
        </blocks>

        <helpers>
            <theextensionlab_megamenu>
                <class>TheExtensionLab_MegaMenu_Helper</class>
            </theextensionlab_megamenu>
        </helpers>

        <models>
            <theextensionlab_megamenu>
                <class>TheExtensionLab_MegaMenu_Model</class>
                <resourceModel>theextensionlab_megamenu_resource</resourceModel>
            </theextensionlab_megamenu>

            <theextensionlab_megamenu_resourec>
                <class>TheExtensionLab_MegaMenu_Model_Resource</class>
            </theextensionlab_megamenu_resourec>
        </models>

        <resources>
            <theextensionlab_megamenu_setup>
                <setup>
                    <module>TheExtensionLab_MegaMenu</module>
                    <class>TheExtensionLab_MegaMenu_Model_Resource_Setup</class>
                </setup>
            </theextensionlab_megamenu_setup>
        </resources>

    </global>

    <default>
        <catalog>
            <navigation>
                <sections_count>7</sections_count>
            </navigation>
        </catalog>
    </default>

    <phpunit>
        <suite>
            <modules>
                <TheExtensionLab_MegaMenu/>
            </modules>
        </suite>
    </phpunit>
</config>