nav.megamenu-nav{
    background: #0a263d url("../images/bkg_nav0.jpg") repeat-y scroll 50% 0;
    width:950px;
    text-align:left;
    margin:0 auto;
}

nav.megamenu-nav a.level0,
nav.megamenu-nav li.level0 > span{
    color:#a7c6dd;
    font-weight:bold;
    text-transform:none;
}

nav.megamenu-nav .megamenu-nav-primary{
    margin-top:0px;
}